.imagegrid ul, .imagegrid li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.imagegrid li {
  float: left;
  margin:5px;
}

.imagegrid li img {
  max-width: 100px;
  border-radius: 10px;
}

.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }
